<div id="social-media-share">
	<p><i>Escríbeme por cualquiera de las vías</i></p>
	
	<div class="share-buttons">
	    
		<a href="https://www.instagram.com/19chl96/" 
   			target="_blank" 
   			title="Sígueme en Instagram">
    		<img src={{ "icons/45px/instagram.png" | relURL }} alt="Instagram">
		</a>

		<a  href="https://www.linkedin.com/in/chlinked/"
	        onclick="socialMediaPopUp(this.href, '', 900, 500); return false;"
	        title="Share on LinkedIn. Opens in a new window." >
	        <img src={{ "icons/48px/linkedin.png" | relURL }}>
	    </a>

	    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=chlorenzo96@gmail.com&su=Para Carlos&body=Hola." 
   		   target="_blank" 
   		   title="Enviar correo usando Gmail">
    	<img src={{ "icons/48px/email.png" | relURL }} alt="Email">
		</a>

		

	</div>
</div>

